// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.page,
.post {
  margin-bottom: 4em;
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
  color: #303030;
}
.page-title,
.post-title {
  margin-top: 0;
}

// Meta data line below post title
.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

// Submit counter
.submit-counter {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

.answer-status-correct {
  display: none;
  text-align: center;
  background-color:#4CAF50;
  padding: 10px;
  color: white;
}

.answer-status-incorrect {
  display: none;
  text-align: center;
  background-color:#f44336;
  padding: 10px;
  color: white;
}

.answer-status-chill {
  display: none;
  text-align: center;
  background-color:#4187FF;
  padding: 10px;
  color: white;
}

.answer-element {
  display: block;
  margin: 1rem auto;
}

.answer-hint {
  display: none;
  border: 1px solid #e7e7e7;
  width: 100%;
  padding: 12px 20px;
  margin: 1rem auto;
  font-size: inherit;
  box-sizing: border-box;
  resize: none;
  -webkit-appearance: none;
}

.button {
  background-color: white; /* Green */
  border: 1px solid #e7e7e7;;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 1rem auto;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #e7e7e7; /* Green */
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: inherit;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
  -webkit-appearance: none;
}

.answer-container {
  text-align: center;
}
// Related posts
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}

.related-posts {
  padding-left: 0;
  list-style: none;

  h3 {
    margin-top: 0;
  }

  li {
    small {
      font-size: 75%;
      color: #999;
    }

    a:hover {
      color: #268bd2;
      text-decoration: none;

      small {
        color: inherit;
      }
    }
  }
}
