---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {% if page.problemId %}
  <div id="submit-counter" class="submit-counter">Total Submissions: 0, Correct: 0</div>
  {% endif %}
  {{ content }}
  {% if page.problemId %}
  <hr>
  <h3> Cracked? Input your answer: </h3>
  <div class="answer-container">
      <input id="answer-input" class="answer-element">
      <button id="answer-submit" class="answer-element button">Submit</button>
      <div id="answer-status" class="answer-status-correct">
          CORRECT
      </div>
      <textarea id="answer-hint" class="answer-hint"></textarea>
    </div>
  {% endif %}
</article>

{% if page.problemId %}
<script type="text/javascript">
  var problemId = parseInt("{{ page.problemId }}") - 1;

  document.getElementById("answer-submit").addEventListener("click", function() {
    var answer = document.getElementById("answer-input").value;
    var url = "http://178.62.124.242/check_answer";
    var params = "problem=" + encodeURIComponent(problemId) + "&answer=" + encodeURIComponent(answer);
    var http = new XMLHttpRequest();

    http.open("GET", url+"?"+params, true);
    http.onreadystatechange = function()
    {
        if(http.readyState == 4 && http.status == 200) {
            var respText = http.responseText;
            var statusElement = document.getElementById("answer-status");
            var hintElement = document.getElementById("answer-hint");

            if(respText == "INCORRECT"){
              statusElement.className = "answer-status-incorrect";
              statusElement.textContent = "INCORRECT :(";
              statusElement.style.display = "inline-block";
              hintElement.style.display = "none";
            }else {
              statusElement.className = "answer-status-correct";
              statusElement.textContent = "CORRECT!";
              statusElement.style.display = "inline-block";
              hintElement.style.display = "inline-block";
              hintElement.textContent = respText;
              hintElement.style.height = hintElement.scrollHeight+10+'px';
            }
        }
    }
    http.send(null);


    // document.getElementById("answer-status").className = "answer-status-incorrect";
    // document.getElementById("answer-status").textContent = "INCORRECT :(";
  });
  document.getElementById("submit-counter").textContent = "Total Submissions: 42, Correct: 1"
</script>
{% endif %}
